* {
  text-shadow:3px 2px black;
  /* cursor: none; */
  /* cursor: url("assets/skel.gif"), auto; */
}

html{
  padding-bottom: 10%;
  animation: skel 0.25s infinite;
}


body {
  text-align : center;
  background-color: rgb(0, 10, 30);
  /* cursor: url('assets/corg.png'), auto; */
}

canvas {
  display : block;
  width : 280px;
  height : 210px;
  margin : auto;
  padding : 0;
  border : none;
  /* background-color : black; */
}
button {
  display : inline-block;
  font-size : inherit;
  margin : auto;
  padding : 0.6em;
}

h1, p{
  color:white;
  margin: 0.5em;
}
a {
  color:red;
  animation: skel 0.25s infinite;


}
.heading div{
  height: 5em;
  border: 2px solid white;
  padding: 1em;
}
.heading a{
  padding-top:0.5em;
  /* padding-bottom: 0.5em; */
}
/* .heading p{
  text-align: left;
} */
.iconh{
  height:2em;
}
p {
  font-size:15px;
}

/* .module {
  cursor: url('assets/corg.png'), auto;
} */
@keyframes skel{
  0%{
    cursor: url("assets/skel/s0.png"), auto;
  }
  20%{
    cursor: url("assets/skel/s1.png"), auto;
  }
  40%{
    cursor: url("assets/skel/s2.png"), auto;
  }
  60%{
    cursor: url("assets/skel/s3.png"), auto;
  }
  80%{
    cursor: url("assets/skel/s4.png"), auto;

  }
  100%{
    cursor: url("assets/skel/s0.png"), auto;
  }
}
